@{
    ViewData["Title"] = "Lỗi xác thực";
}

<section class="main_content">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 style="color: red; margin-top: 50px;">Lỗi!</h2>
                <p style="font-size: 18px; margin-top: 20px;">@ViewBag.ErrorMessage</p>
                <a href="/Home/Index" class="btn btn-primary" style="margin-top: 30px;">Về trang chủ</a>
            </div>
        </div>
    </div>
</section>