@{
    ViewData["Title"] = "Xác thực thành công";
}

<section class="main_content">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 style="color: green; margin-top: 50px;">Xác thực tài khoản thành công!</h2>
                <p style="font-size: 18px; margin-top: 20px;">Tài khoản của bạn đã được xác thực. Bạn có thể đăng nhập ngay bây giờ.</p>
                <a href="/Home/Index" class="btn btn-primary" style="margin-top: 30px;">Về trang chủ</a>
            </div>
        </div>
    </div>
</section>