@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@{
    ViewBag.Title = "Ads";
}

<link href="~/Content/css/ads.css" rel="stylesheet">

<section id="header" class="clearfix cd-secondary-nav">
    <div class="container">
        <div class="row">
            <div class="header_main clearfix">
                <nav class="navbar navbar-default">
                    <div class="navbar-header">
                        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">BUTTERFLY CINEMA <span>A BUTTERFLY NEVER DIES</span></a>
                    </div>


                    <div class="collapse navbar-collapse js-navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a class="font_tag" href="/Home/Index">TRANG CHỦ</a></li>
                            <li><a class="font_tag" href="/Movies/Movies">PHIM</a></li>
                            <li><a class="font_tag" href="/Pricing/Pricing">RẠP VÀ GIÁ</a></li>
                            <li><a class="font_tag active_tag" href="/Ads/Ads">KHUYẾN MÃI</a></li>
                            <li><a class="font_tag" href="/Event/Event">BẢNG TIN</a></li>
                            <li><a class="font_tag border_none_1" href="/Contact/Contact">LIÊN HỆ</a></li>
                        </ul>

                    </div><!-- /.nav-collapse -->
                </nav>
            </div>
        </div>
    </div>
</section>

<section id="events">
    <div class="main">
        <div class="events_main clearfix">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab">CÁC ƯU ĐÃI</a></li>
            </ul>
            <div class="click clearfix">
                <div class="col-sm-12 space_left">
                    <div class="click_left clearfix" id="1">
                        <div class="col-sm-12 click_left_bg"></div>

                        <div class="col-sm-5 space_left">
                            <div class="click_left_inner clearfix">
                                <a><img src="~/Content/img/km1.png" width="100%" height="250px"></a>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="click_left_inner_1 clearfix">
                                <h2>TẸT GA 45K SUỐT TUẦN TOÀN HỆ THỐNG</h2>

                                <p class="para_1">
                                    ÁP DỤNG MỨC GIÁ 45K / VÉ 2D - CẢ TUẦN - TOÀN HỆ THỐNG
                                    <br>
                                    ✔️ KHÔNG đắn đo về giá vé <br>
                                    ✔️ KHÔNG nhức đầu nghĩ điểm hẹn cuối tuần <br>
                                    ✔️ KHÔNG cần miệt mài lựa chọn phim <br>

                                    Áp dụng dành cho giáo viên, giảng viên, học sinh, sinh viên và thanh niên dưới 22 tuổi, trên toàn hệ thống. <br>

                                    Ưu đãi giá vé xem phim chỉ 45,000đ/vé 2D. <br>

                                    LƯU Ý: <br>

                                    - Vui lòng mua TRỰC TIẾP TẠI RẠP và xuất trình thẻ HSSV-GV hoặc CMND có dán ảnh và còn hiệu lực khi mua vé. <br>

                                    - Mỗi thẻ mua được một vé. <br>

                                    - Không áp dụng cho các ngày Lễ, Tết, hoặc suất chiếu có phụ thu từ nhà phát hành phim.
                                </p>

                            </div>
                        </div>
                    </div>

                    <div class="click_left clearfix" id="2">
                        <div class="col-sm-12 click_left_bg"></div>

                        <div class="col-sm-5 space_left">
                            <div class="click_left_inner clearfix">
                                <a><img src="~/Content/img/km2.png" width="100%" height="250px"></a>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="click_left_inner_1 clearfix">
                                <h2>Tựu Trường Hưởng Thụ Liên Hoàn Deal</h2>

                                <p class="para_1">
                                    ĐI XEM PHIM VỪA ĐƯỢC NHẬN VÉ MIỄN PHÍ VỪA ĐƯỢC QUÀ XỊN!!
                                    <br>
                                    ✔️ Thời gian: Từ 15.09.2023 cho đến khi phát hết quà<br>

                                    Thể lệ: <br>
                                    - Khách hàng U22 khi tải app Galaxy Cinema và đăng ký Thành Viên Mới sẽ được tặng 04 phần quà online vào tài khoản thành viên. <br>
                                    - Bao gồm: 03 vé miễn phí + 01 quà Galaxy Milo. <br>

                                </p>

                            </div>
                        </div>
                    </div>

                    <div class="click_left clearfix" id="3">
                        <div class="col-sm-12 click_left_bg"></div>

                        <div class="col-sm-5 space_left">
                            <div class="click_left_inner clearfix">
                                <a><img src="~/Content/img/km1.png" width="100%" height="250px"></a>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="click_left_inner_1 clearfix">
                                <h2>TẸT GA 45K SUỐT TUẦN TOÀN HỆ THỐNG</h2>

                                <p class="para_1">
                                    ÁP DỤNG MỨC GIÁ 45K / VÉ 2D - CẢ TUẦN - TOÀN HỆ THỐNG
                                    <br>
                                    ✔️ KHÔNG đắn đo về giá vé <br>
                                    ✔️ KHÔNG nhức đầu nghĩ điểm hẹn cuối tuần <br>
                                    ✔️ KHÔNG cần miệt mài lựa chọn phim <br>

                                    Áp dụng dành cho giáo viên, giảng viên, học sinh, sinh viên và thanh niên dưới 22 tuổi, trên toàn hệ thống. <br>

                                    Ưu đãi giá vé xem phim chỉ 45,000đ/vé 2D. <br>

                                    LƯU Ý: <br>

                                    - Vui lòng mua TRỰC TIẾP TẠI RẠP và xuất trình thẻ HSSV-GV hoặc CMND có dán ảnh và còn hiệu lực khi mua vé. <br>

                                    - Mỗi thẻ mua được một vé. <br>

                                    - Không áp dụng cho các ngày Lễ, Tết, hoặc suất chiếu có phụ thu từ nhà phát hành phim.
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/Content/js/ads.js"></script>
