#top{
    background:#cf0000;
    padding-top:15px;
    padding-bottom:15px;
}
.top_2_left {
    text-align: center;
    color: #fff;
}
.top_2_left h1{
    font-family: 'Monoton', cursive;
    font-size:30px;
    cursor: pointer;
    display: inline-block;
}
.top_2_left span{
    font-family: 'Roboto', cursive;
    display:block;
    font-size:16px;
    text-align:center;
    margin-top:5px;
}
.top_2_left i {
    display: inline;
    font-size: 48px;
    float: right;
    margin-top: 2%;
}

.nav-tabs {
    background-color: #f2f2f2;
    padding: 10px;
}
.nav-tabs {
    border: none;
}
.nav-tabs li {
    width: 14.28%;
    text-align: center;
}
.nav-tabs li a{
    border-radius: 0;
    font-size: 18px;
    color: #000;
    font-weight: bold;
    font-family: 'Paytone One', cursive;
}
.nav-tabs li a:hover {
    color: #cf0000;
    border: none;
}

.tab-content {
    padding-left: 50px;
    padding-right: 50px;
}

.btn-success {
    margin-top: 20px;
    display: inline-block;
}

table{
    text-align: center;
    margin-top: 30px;
}
table thead tr th {
    text-align: center;
    background-color: #cf0000;
    color: #fff;
}

. /*custom-file {
    margin-bottom: 15px;
}*/
input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #084cdf;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
    background: #0d45a5;
}

.modal-header button {
    margin-right: 15px;
}

.search-form {
    display: inline;    
}
.search-form .form-group {
	background-color: #fff;
	border: 1px solid #ccc;
}
.search-form .form-group input.form-control {
	padding-right: 25px;
	border: 0 none;
	background: transparent;
	box-shadow: none;
	display: block;
	color: #000;
	font-family: 'Roboto', cursive;
	font-weight: bold;
}
.search-form .form-group,
.search-form .form-group.hover {
	width: 30%;
    float: right;
	border-radius: 4px 4px 4px 4px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.search-form .form-group span.form-control-feedback {
	position: absolute;
	top: -1px;
	right: -2px;
	z-index: 2;
	display: block;
	width: 34px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	color: #0e0e0e;
	left: initial;
	font-size: 14px;
}

.dropdownCinema {
    display: inline;
    float: right;
    margin-top: 20px;
    margin-left: 50px;
}
.dropdownShowtime {
    display: inline-block;
    margin-bottom: 20px;
    width: 100%;
}
.dropdownShowtime button {
    width: 100%;
}
.dropdownShowtime ul {
    width: 100%;
}
.modal-title {
    margin-bottom: 30px;
}